<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.docker-dashboard</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>61F4ED8A-89BC-4FC9-9A77-C2052E08B780</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA9EAFFE-0009-47EC-808A-67B0C26D1148</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>860A0EA0-4A49-49A1-ADE1-464C4CDBC2E4</key>
		<array/>
		<key>AA9EAFFE-0009-47EC-808A-67B0C26D1148</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>860A0EA0-4A49-49A1-ADE1-464C4CDBC2E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guillaume Leclerc</string>
	<key>description</key>
	<string>huh?</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Docker Dashboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>61F4ED8A-89BC-4FC9-9A77-C2052E08B780</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:workflow_keyword}</string>
				<key>subtext</key>
				<string>huh?</string>
				<key>text</key>
				<string>Docker Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA9EAFFE-0009-47EC-808A-67B0C26D1148</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>#!/bin/bash

osascript resources/scripts/sesame-ouvre-toi.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>860A0EA0-4A49-49A1-ADE1-464C4CDBC2E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Docker Dashboard

opens the Dashboard of Docker that is annoyingly hidden in the menu bar ☹️

## Need more info?

see https://github.com/godbout/alfred-docker-dashboard</string>
	<key>uidata</key>
	<dict>
		<key>61F4ED8A-89BC-4FC9-9A77-C2052E08B780</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>860A0EA0-4A49-49A1-ADE1-464C4CDBC2E4</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>AA9EAFFE-0009-47EC-808A-67B0C26D1148</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>workflow_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/godbout/alfred-docker-dashboard</string>
</dict>
</plist>
